<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>song</title>
</head>
<body>
		<h1>Best Songs</h1>
	<div th:replace="~{frag/header :: movies}"></div>
	<div th:replace="~{frag/header :: songs}"></div>
	<ul>
		<li th:each="song : ${songs}">
			<a th:text="${song.titolo}" th:href="@{/songs/{id} (id=${song.id})}"></a>
		</li>
		
	
	</ul>
	<a class="btn btn-primary" 
      
       th:href="@{/?name=antonio}"
       >
      	home
    </a>
	
</body>
</html>