<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>song id</title>
</head>
<body>
	<h1 th:text="${song != null ? song.titolo : 'no song'}"></h1>
	
	<div th:replace="frag/header.html :: movies"></div>
	<div th:replace="frag/header.html :: songs"></div>
	<a class="btn btn-primary" 
      
       th:href="@{/?name=antonio}"
       >
      	home
    </a>
</body>
</html>